"workshopitem"
{
"appid" "211820"
"publishedfileid" "2943033037"
"contentfolder" "{{PWD}}/out/workshop"
"previewfile" "{{PWD}}/out/preview.jpg"
"title" "YEET: YellowApple's Easy Editing Tool"
"changenote" "Full changelog: https://github.com/YellowApple/YEET/releases/tag/v0.1.1"
}
