{
    "gui": {
        "background": {
            "zlevel": 0,
            "type": "background",
            "fileHeader": "/interface/scripted/yeet/header.png",
            "fileBody": "/interface/scripted/yeet/body.png",
            "fileFooter": "/interface/scripted/yeet/footer.png"
        },
        "windowtitle": {
            "type": "title",
            "title": "YEET: YellowApple's Easy Editing Tool",
            "subtitle": "Matter manipulation the likes of which even GOD has never seen!"
        },
        "close": {
            "type": "button",
            "base": "/interface/x.png",
            "hover": "/interface/xhover.png",
            "pressed": "/interface/xpress.png",
            "pressedOffset": [0,0],
            "callback": "closeGUI",
            "position": [321, 226]
        },
        "lblSelectMode": {
            "type": "label",
            "position": [10,202],
            "value": "MODE:"
        },
        "btnsSelectMode": {
            "type": "radioGroup",
            "toggleMode": false,
            "callback": "selectMode",
            "position": [40,200],
            "zlevel": 1,
            "buttons": [
                {
                    "id": 0,
                    "baseImage": "/interface/button.png",
                    "hoverImage": "/interface/buttonhover.png",
                    "baseImageChecked": "/interface/buttonactive.png",
                    "hoverImageChecked": "/interface/buttonactivehover.png",
                    "caption": "CUT",
                    "position": [0,0]
                },
                {
                    "id": 1,
                    "baseImage": "/interface/button.png",
                    "hoverImage": "/interface/buttonhover.png",
                    "baseImageChecked": "/interface/buttonactive.png",
                    "hoverImageChecked": "/interface/buttonactivehover.png",
                    "caption": "SNARF",
                    "position": [60,0]
                },
                {
                    "id": 2,
                    "baseImage": "/interface/button.png",
                    "hoverImage": "/interface/buttonhover.png",
                    "baseImageChecked": "/interface/buttonactive.png",
                    "hoverImageChecked": "/interface/buttonactivehover.png",
                    "caption": "PASTE",
                    "position": [120,0]
                }
            ]
        },
        "lblTemplateName": {
            "type": "label",
            "position": [10,112],
            "value": "NAME:"
        },
        "txtTemplateName": {
            "type": "textbox",
            "position": [40, 112],
            "maxWidth": 180,
            "hint": "My Template",
            "callback": "setTemplateName"
        },
        "lblTemplateDescription": {
            "type": "label",
            "position": [10,92],
            "value": "DESC:"
        },
        "txtTemplateDescription": {
            "type": "textbox",
            "position": [40,92],
            "maxWidth": 180,
            "hint": "Created with YellowApple's Easy Editing Tool",
            "callback": "setTemplateDescription"
        },
        "lblSelectionStatus": {
            "type": "label",
            "position": [167,79],
            "hAnchor": "mid",
            "vAnchor": "top",
            "wrapWidth": 244,
            "value": "Loading..."
        },
        "itmTemplateDatacard": {
            "type": "itemslot",
            "position": [42,29],
            "backingImage": "/interface/blank.png",
            "callback": "touchTemplateDatacard",
            "rightClickCallback": "clearTemplateDatacard"
        },
        "btnYeetIt": {
            "type": "button",
            "base": "/interface/scripted/yeet/yeetit.png",
            "hover": "/interface/scripted/yeet/yeetit.png",
            "pressed": "/interface/scripted/yeet/yeetit.png",
            "disabledImage": "/interface/scripted/yeet/yeetitdisabled.png",
            "pressedOffset": [0,0],
            "position": [192,38],
            "callback": "yeetIt"
        },
        "btnResetSelection": {
            "type": "button",
            "base": "/interface/scripted/yeet/resetbutton.png",
            "pressedOffset": [0,-1],
            "position": [10,22],
            "callback": "resetSelection"
        },
        "lblStatusLine": {
            "type": "label",
            "position": [10,12],
            "value": "Loading..."
        }
    },
    "scriptWidgetCallbacks" : [
        "closeGUI",
        "selectMode",
        "setTemplateName",
        "setTemplateDescription",
        "touchTemplateDatacard",
        "clearTemplateDatacard",
        "yeetIt",
        "resetSelection"
    ],
    "scripts": ["/interface/scripted/yeet/yeetgui.lua"],
    "scriptDelta": 1,
    "autoRefreshRate": 0.5,
    "selectionOffset": [-1,-1],
    "defaultDescription": "Select an operation"
}
